@model Ejercicio1.Models.ViewModel.Ejercicio4EditarPersonaVM
<div>

    @Model.persona.nombre
    <form>

        <label>Nombre:</label>
        <input type="text"/>
        <br />
        <label>Edad:</label>
        <input type="number"/>
        <br />
        <label>Departamento:</label>
        


    <select>
        @foreach (var departamento in Model.departamentos)
        {
            if (departamento.idDep == Model.persona.departamentoId)
            {
                <option selected="selected" value="@departamento.idDep">@departamento.nombre</option>
            }
            else
            {
                <option value="@departamento.idDep">@departamento.nombre</option>
            }
        }
    </select>

    </form>

</div>
